/* Change the following file's CSS style according to your project's need and use them like you use variables.

 Stay extra careful about the 'htmlElement.css' file as this file's styles will  automatically be added on the site. */

@import './bgColor.scss';

@import './fontColor.scss';

@import './gradientColor.scss';