
.v-bg-gradient-1_r{
    @apply
    bg-gradient-to-r from-gray-200 to-gray-400;
}


.v-bg-gradient-2_r{
    @apply
    bg-gradient-to-r from-blue-400 to-blue-200;
}


.v-bg-gradient-3_r{
    @apply
    bg-gradient-to-r from-green-400 to-green-200;
}



