
/* 1 card on mobile and 3 cards on laptop in a row */

.card-1-3-parent_r{
    @apply
    grid 
    grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4  
    gap-4 mx-4 
    lg:gap-8 lg:mx-8;

}

.card-1-3-grand-parent_r {
    @apply
    flex
    justify-center;
   
}





/* 1 card on mobile and 4 cards on laptop in a row */

.card-1-4-parent_r{
    @apply
    grid 
    grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5  
    gap-4 mx-4 
    lg:gap-8 lg:mx-8;

}

.card-1-4-grand-parent_r {
    @apply
    flex
    justify-center;
   
}



/* 2 card on mobile and 4 cards on laptop in a single row */

.card-2-4-parent_r{
    @apply
    grid 
    grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5  
    gap-4 mx-4 
    lg:gap-8 lg:mx-8;

}

.card-2-4-grand-parent_r {
    @apply
    flex
    justify-center;
   
}


