
@layer base {


    :root {
 
        // bg-b-t2a1  or, text-b-t2a1
        --brand-type-2-alpha-1:hsla(40,50%,35%,1);

        //bg-b-t2a2 or, text-b-t2a2  
        --brand-type-2-alpha-2:hsla(40,50%,35%,0.9);

        //bg-b-t2a3  or, text-b-t2a3
        --brand-type-2-alpha-3:hsla(40,50%,35%,0.8);
      
    }



    .dark {
         
            // bg-b-t2a1  or, text-b-t2a1
            --brand-type-2-alpha-1:hsla(40,50%,70%,1);
    
            //bg-b-t2a2 or, text-b-t2a2  
            --brand-type-2-alpha-2:hsla(40,50%,70%,0.9);
    
            //bg-b-t2a3  or, text-b-t2a3
            --brand-type-2-alpha-3:hsla(40,50%,70%,0.8);
          
        }
    

    }
