
@layer base {


    :root {
 
        // bg-b-t1a1  or, text-b-t1a1
        --brand-type-1-alpha-1:hsl(282,32%,30%);

        //bg-b-t1a2 or, text-b-t1a2  
        --brand-type-1-alpha-2:hsl(282,32%,40%);

        //bg-b-t1a3  or, text-b-t1a3
        --brand-type-1-alpha-3:hsl(282,32%,50%);
      
    }



    .dark {
         
            // bg-b-t1a1  or, text-b-t1a1
            --brand-type-1-alpha-1:hsl(282,32%,80%);
    
            //bg-b-t1a2 or, text-b-t1a2  
            --brand-type-1-alpha-2:hsl(282,32%,70%);
    
            //bg-b-t1a3  or, text-b-t1a3
            --brand-type-1-alpha-3:hsl(282,32%,60%);
          
        }
    

    }




