
.h-1_r{
    @apply
    text-4xl md:text-5xl xl:text-6xl;
}
   
.h-2_r{
       @apply
       text-2xl md:text-3xl xl:text-4xl;
}
   
.h-3_r{
       @apply
       text-xl md:text-2xl xl:text-3xl;
}
   
.h-4_r{
       @apply
       text-lg md:text-xl xl:text-2xl;
}
   
.h-5_r{
    @apply
    text-base md:text-lg xl:text-xl;
}

.h-6_r{
    @apply
    text-sm md:text-base xl:text-lg;
 }







 






