/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Atma&family=Indie+Flower&family=Kaushan+Script&family=Lobster+Two&family=Roboto&family=Roboto+Mono&family=Train+One&family=Yatra+One&display=swap');



/* variables */
@import './1_variables/_variables.css';


/* components */
@import './2_components/_components.css';


/* helpers */
@import './3_helpers/_helpers.css';


/* old */
@import './4_old/_old.css';



/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;
















