/* Background */
 
.v-bg-light-1_r{
    @apply bg-green-100;
}

.v-bg-light-2_r{
    @apply bg-green-200;
}

.v-bg-light-3_r{
    @apply bg-green-300;
}


.v-bg-dark-1_r{
    @apply bg-green-900;
}

.v-bg-dark-2_r{
    @apply bg-green-800;
}

.v-bg-dark-3_r{
    @apply bg-green-700;
}



/* Background (Hover)*/

.hover-v-bg-light-1_r{
    @apply hover:bg-green-100;
}

.hover-v-bg-light-2_r{
    @apply hover:bg-green-200;
}

.hover-v-bg-light-3_r{
    @apply hover:bg-green-300;
}


.hover-v-bg-dark-1_r{
    @apply hover:bg-green-900;
}

.hover-v-bg-dark-2_r{
    @apply hover:bg-green-800;
}

.hover-v-bg-dark-3_r{
    @apply hover:bg-green-700;
}
