    /* Font Color */
 
.v-text-light-1_r{
    @apply text-gray-100;
}

.v-text-light-2_r{
    @apply text-gray-200;
}

.v-text-light-3_r{
    @apply text-gray-300;
}


.v-text-dark-1_r{
    @apply text-gray-900;
}

.v-text-dark-2_r{
    @apply text-gray-800;
}

.v-text-dark-3_r{
    @apply text-gray-700;
}



/* Font Color (Hover)*/

.hover-v-text-light-1_r{
    @apply hover:text-gray-100;
}

.hover-v-text-light-2_r{
    @apply hover:text-gray-200;
}

.hover-v-text-light-3_r{
    @apply hover:text-gray-300;
}


.hover-v-text-dark-1_r{
    @apply hover:text-gray-900;
}

.hover-v-text-dark-2_r{
    @apply hover:text-gray-800;
}

.hover-v-text-dark-3_r{
    @apply hover:text-gray-700;
}
