
/* 90% on mobile and 50% on computer */
.max-w-90-50_r{
    @apply
    max-w-90%
    sm:max-w-75%
    lg:max-w-50%
    2xl:max-w-40%;

}


/* 90% on mobile and 60% on computer */

.max-w-90-60_r{
    @apply
    max-w-90%
    sm:max-w-75%
    lg:max-w-60%
    2xl:max-w-50%;

}